* {
  box-sizing: border-box;
}

body {
  background: #fff;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  line-height: 1.75;
}

.content {
  background: pink;
  color: #000;
  border: none;
  padding: 10px 10px;
  border-radius: 15px;
}

img {
  display: block;
  width: 100%;
}

.container {
  display: block;
  max-width: 1280px;
  margin: 0 auto;
}

.clearf:after,
.clearf:before {
  content: "";
  display: block;
  clear: both;
}

.col-25 {
  display: block;
  position: relative;
  min-height: 1px;
  float: left;
}

.col-25 {
  width: 25%;
}

.sub_content .sub_img {
  padding: 1%;
}

.title {
  text-align: center;
  font-size: 50px;
  font-style: oblique;
  color: #b929a7;
}

.date {
  text-align: center;
  font-size: 30px;
  color: #b929a7;
}

.sub_title {
  background: #b929a7;
  border-radius: 10px;
  padding: 5px 10px;
  color: pink;
  font-size: 25px;
  margin-top: 3%;
}

.footer {
  text-align: center;
  color: #999;
  padding-top: 20px;
}
